body {
    font-family: Arial;
    background: #f0f0b2
}

h1 {
    color: #333;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #cccc22;
    color: white;
    border: none;
    cursor: pointer;
}

time {
    color: #333;
    text-align: center;
}