button {
    padding: 10px 10px;
    background-color: #cccc22;
    color: white;
    border: none;
    cursor: pointer;
}

video {
    display: block;
    margin: 20px auto;
    border: 4px solid #ccc;
    border-radius: 15px;
}